@{
    Layout = "_Layout_Empleados";
}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1>Hacer entrega de la mercancia.</h1>
    </div>
</div>


<form asp-action="Hacer_Entrega" asp-controller="Empleado" class="formulario_envio col-md-6 col-md-offset-3">
    <!-- No. del envio y nombre del remitente -->
    <div class="col-md-12">
        <label for="id_solicitud">No. Solicitud</label>
        <input type="number" name="id_solicitud" id="" placeholder="5555874" class="form-control">
    </div>s
    <!-- Botón guardar envio -->
    <div class="col-md-12">
        <button type="submit" class="btn btn-info btn-block btn_guardar_envio">
            Entregar. <span class="glyphicon glyphicon-send"></span>
        </button>
    </div>
    <!-- Botón guardar envio -->
</form>