@{
    Layout = "_Layout_Empleados";
}

<div class=""></div>
<div class="row fila_datos_perfil_empleado">
    <div class="col-md-5">
        <ul class="list-group">
            <li class="list-group-item">
                <h1>Ana Maria Perez</h1>
            </li>
            <li class="list-group-item">
                <b>Nombre:</b> Ana Maria
            </li>
            <li class="list-group-item">
                <b>Apellido:</b> Perez
            </li>
            <li class="list-group-item">
                <b>Código empleada(o):</b> 2014758461
            </li>
            <li class="list-group-item">
                <b>Cedula:</b> 40225410769
            </li>
            <li class="list-group-item">
                <a href="#" class="btn btn-danger btn-block">
                    Cerrar Sesión <span class="glyphicon glyphicon-off"></span>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-4 col-md-offset-2 botonera_del_perfil_empleado">
        <a asp-controller="Empleado" asp-action="Listado_De_Solicitudes" class="btn btn-info btn-block">Consultar Pedidos</a>
        <a asp-controller="Empleado" asp-action="Envio" class="btn btn-info btn-block">Enviar Mercancia</a>
        <a asp-controller="Empleado" asp-action="Hacer_Entrega" class="btn btn-info btn-block">Entregar Mercancia</a>
    </div>
</div>