@{
    Layout = "_Layout";
}

<div class="row fila_servicios_de_importacion">
    <div class="col-md-6">
        <h1>
            Servicios de Importación – Entrega entrante
        </h1>
        <p>
            <span>Servicios express de importación</span> a su país con una amplia gama de opciones de entrega de <b>GATEWAY TO THE WORLD</b>, 
            desde entregas con horario urgente garantizadas para el día siguiente hasta opciones menos 
            urgente de entrega con fecha determinada.
        </p>
        <h3>
            Entrega Entrante con Horario Definido
        </h3>
        <p>
            Para entregas internacionales puerta a puerta en su país en un horario definido o hacia el final
            del siguiente día hábil posible, elija el servicio express con Horario Definido de <b>GATEWAY TO THE WORLD</b>.
        </p>
    </div>
    <div class="col-md-6 btn_solicitud_servicio_importacion">
        <a href="#" class="btn btn-info btn-block btn_servicio_importacion">Solicitar Servicio de Importación</a>
    </div>
</div>

<hr>

<div class="row fila_servicios_de_exportacion">
    <div class="col-md-6">
        <h1>
            Servicios de Exportación – Entrega Internacional
        </h1>
        <p>
            Son servicios Express a otro país con opciones de envío
            versátiles y confiables, desde envíos garantizados para
            el día siguiente con horario predeterminado hasta opciones
            menos urgentes con horario predeterminado.
        </p>
        <table class="table tabla_detalle_del_servicio">
            <tr>
                <th>Servicios</th>
                <th>Entrega</th>
                <th>información</th>
            </tr>
            <tr>
                <td>
                    GATEWAY TO THE WORLD EXPRESS 10:30
                </td>
                <td>
                    Day Define - Entrega Entrante menos urgente.
                </td>
                <td>
                    <button class="btn btn-info">
                        <span class="glyphicon glyphicon-info-sign"></span>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    GATEWAY TO THE WORLD EXPRESS EASY
                </td>
                <td>
                    Servicio con entrega puerta a puerta para el final del siguiente día hábil posible
                </td>
                <td>
                    <button class="btn btn-info">
                        <span class="glyphicon glyphicon-info-sign"></span>
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-6 btn_solicitud_servicio_exportacion">
        <a href="#" class="btn btn-info btn-block btn_servicio_exportacion">Solicitar Servicio de Exportación</a>
    </div>
</div>