@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-6">
        <h1>
            Sobre Nosotros
        </h1>
        <p>
            Es una empresa consolidadora de carga aérea y marítima, y de gestión aduanal.
        </p>
        <p>
            Tenemos a su disposicion:
        </p>
        <ul>
            <li>
                Consolidadores de cargas aéreas y marítimas.
            </li>
            <li>
                Agentes aduanales.
            </li>
            <li>
                Asesorias.
            </li>
            <li>
                Depositos fiscales.
            </li>
            <li>
                Exoneraciones.
            </li>
            <li>
                Exportaciones e importaciones.
            </li>
        </ul>
    </div>
    <div class="col-lg-4">
        <h1>
            Misión
        </h1>
        <p>Brindar un servicio sin limites de calidad a nivel mundial, 
        satisfaciendo todas las necesidades de nuestros clientes, 
        para asi establecernos como la mejor opcion en el transporte
        de mercancia, consolidación de carga y servicios aduanales.</p>
    </div>
    <div class="col-lg-4">
        <h1>Visión</h1>
        <p>Fortalecernos a nivel nacional e internacional como empresa líder en el mercado de gestión aduanal y consolidación de carga aerea y maritima.</p>
    </div>
</div>