/* .contedor_titulos_login_y_registro{
} */

.formulario_login{
    margin-top: 8px;
}

.btn_iniciar_sesion{
    margin-left: 0px;
    padding: 15px;
}

.mostrar_formulario_registro{
    margin-top: 5px;
}

.btn_mostrar_formulario_registro{
    margin-left: 0px;
    padding: 15px;
}

.btn_guardar_nuevo_registro{
    margin-top: 8px;
}
.btn_guardar_nuevo_registro > button{
    margin-left: 0px;
    padding: 20px;
}
